<section class="section banner" id="banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <!-- <h1>Hola, mi nombre es</h1> -->
                    <h1>Hello! My name is</h1>
                </div>
                <div class='banner-title'>
                    <h2 class="text-capitalize">Islem Argoubi.</h2>
                    <h3 class="text-capitalize">Full Stack Web Developer</h3>
                </div>
                <div class='banner-description'>
                    <p class="mt-4">
                      Passionate <span class="underline">Full Stack Developer</span> with practical experience in building and maintaining web applications.

                      Interested in combining <span class="underline"> frontend, backend</span> and <span class="underline">DevOps</span> to deliver reliable and scalable solutions.
                      Always eager to learn, improve performance and grow as a software engineer.
                    </p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")' href="mailto:argoubiislem5@gmail.com"
                    target="_black" class="main-btn text-capitalize">
                    get in touch
                </a>
            </div>
        </div>
    </div>
</section>
