<section class="section banner" id="banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <!-- <h1>Hola, mi nombre es</h1> -->
                    <h1>Hello! My name is</h1>
                </div>
                <div class='banner-title'>
                    <h2 class="text-capitalize">Thanh Tuan Le.</h2>
                    <h3 class="text-capitalize">Web developer</h3>
                </div>
                <div class='banner-description'>
                    <p class="mt-4">
                        Motivated <span class="underline">Fullstack Developer</span> with nearly one year of hands-on experience in
                        building and releasing production features. Strong interest in advancing career toward
                        <span class="underline">Backend Development</span> and <span class="underline">DevOps</span>, with foundational knowledge of
                        <span class="underline">cloud services</span> and <span class="underline">CI/CD</span> practices. Eager to learn, improve
                        system performance,
                        and contribute to scalable <span class="underline">backend solutions</span>.
                    </p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")' href="mailto:thanhtuanle939@gmail.com"
                    target="_black" class="main-btn text-capitalize">
                    get in touch
                </a>
            </div>
        </div>
    </div>
</section>