@import "./../../../../variables.scss";

.banner {
    min-height: 100vh;

    .container {
        display: table;
        height: 100vh;

        .section-box-banner {
            display: table-cell;
            vertical-align: middle;

            .content {
                margin-top: 98px;
            }

            h1 {
                color: #F0BE86;
                margin: 0 0 20px 3px;
                font-size: 16px;
                font-weight: normal;
                font-family: $CodeFont;
            }

            h2,
            h3 {
                font-weight: 600;
                font-size: 80px;
                line-height: 1.1;
                margin: 0;
                font-family: $MainFont;

                background: linear-gradient(120deg,
                  #EEE2DF,
                  #EED7C5,
                  #C89F9C,
                  #CA7C5C,
                  #B36A5E,
                  #B67332,
                  #93441A,
                        #f9a825,
                        #ff5722);
                color: #fff;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            h2 {
                color: $LightestSlate;
            }

            h3 {
                color: $Slate;
            }

            .banner-description {
                margin-bottom: 70px;
            }

            p {
                max-width: 500px;
            }

            .div-btn-banner {
                height: 43px;
            }
        }
    }
}
