<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> About me
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                        <p data-aos="fade-up" data-aos-duration="1000">
                            Hello <span class="underline">World!</span>! 👋
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            I'm <span class="underline">Islem Argoubi</span> a motivated Software Engineering graduate with a strong interest in Full Stack development and DevOps practices.
                          I’m driven by a passion for learning, continuous improvement, and building reliable, scalable applications.
                        </p>

                        <p data-aos="fade-up" data-aos-duration="1000">
                            I have experience working as a <span class="underline">Fullstack Developer</span> using technologies such as
                            <span class="underline">Spring Boot</span>, <span class="underline">Angular</span>, <span class="underline">React</span>,
                            and
                            <span class="underline">Next.js</span>. I’ve contributed to the development of web applications, designed and consumed
                          <span class="underline">RESTful APIs </span> and worked with
                          <span class="underline">relational</span> and <span class="underline">NoSQL</span> databases while following <span class="underline">Agile/Scrum</span> workflows.
                        </p>

                        <p data-aos="fade-up" data-aos-duration="1000">
                          Currently, I’m focused on growing as a
                            <span class="underline"> Full Stack Developer </span> with a solid foundation in <span class="underline">DevOps</span> including

                            <span class="underline">CI/CD</span>, <span class="underline">containerization</span> and deployment.
                          Curious, adaptable, and collaborative, I enjoy working in team environments and continuously improving both my technical and communication skills.
                        </p>

                        <p data-aos="fade-up" data-aos-duration="1000">Some of the technologies that I have trained and worked on include (but are not
                            limited to):</p>
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Spring Boot </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Angular </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">React </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Java</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">(S)CSS </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">MySQL, PostgreSQL</span>
                            </li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">JavaScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">TypeScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Git, Github, Gitlab</span>
                            </li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Bootstrap, TailwindCss
                                </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Devops </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Other... </span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="about-img-container">
                        <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")' width="300" height="400"
                            src="assets/images/me/me.jpeg" alt="Git User">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
